/* HTML ELEMENTS */
body {
  background: #E3F6F3;
  font-size: 70px;
  height: 100%;
  font-family: $font;
}

button {
  font-size: 4rem;
}

main {
  min-height: 100%;
  position: relative;
}

input {
  display: block;
  width: 80%;
  font-size: 3rem;
  margin: 3% auto 3% auto;
  padding: 1%;
}
