/* HTML ELEMENTS */
body {
  background: url('/assets/images/background.png') top left repeat;
  background-size: 30%;
  font-size: 2rem;
  font-family: $font;
}

main {
  margin: 0;
}

input {
  display: block;
  width: 70%;
  font-size: 1rem;
  margin: 2% auto 2% auto;
  padding: 1%;
  border-radius: 20px;
  text-align: center;
  border: 1px solid $dark_accent;
}

button {
  margin: 0px;
}
