.drawing_stage {
  @extend .drag_drop_stage;
  margin: 20% 5% auto 5%;
  height: 280px;
  width: 288px;
}

.color_button {
  border: 1px solid $dark_accent;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
}

.drawing_container {
  width: 100%;
  margin-top: 25%;
  text-align: center;
  @media (min-width: $mobile-width) {
    margin-top: -10%;
  }
}

.draw_button_container {
  width: 188px;
  text-align: center;
  margin: 0 auto;
}
