.fidget_container {
  margin-top: 30%;
  a {
    margin-top: 3%;
    width: 80%;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  @media (min-width: $mobile-width) {
    margin-top: 15%;
    a {
      width: 40%;
    }
  }
}
