/* HOME PAGE NAV */
.logInButton {
  @include button_default;
  margin-top: 50%;

  @media (min-width: $mobile-width) {
    width: 40%;
    margin: 10% 30% 0 30%;
  }
}
.log_in_container {
  margin-top: 10%;
  text-align: center;
  .home_logo {
    margin: 0 auto;
    width: 70%;
  }
  h1 {
    font-size: 1.75rem;
    color: $dark_accent;
    margin-top: -15%;
  }
  @media (min-width: $mobile-width) {
    margin-top: 5%;
    .home_logo {
      width: 20%;
    }
    h1 {
      font-size: 3rem;
      margin-top: -2%;
    }
  }
}
.home_container {
  margin: 33% auto 0 auto;
  width: 40%;
  text-align: center;
  @media (min-width: $mobile-width) {
    margin-top: 15%;
    .homepagebutton {
      width: 40%;
    img {
      width: 30%;
    }
  }
}
}
.homepagebutton {
  img {
    width: 80%;
    margin: 4%;
  }
  }
