.weave_stage {
  @extend .circle_stage;
  margin-top: 25%;
  margin-bottom: 10%;
  position: relative;
  overflow: hidden;
  .vertical {
    border: 1px solid black;
    position: absolute;
    width: 6.5%;
    border: 1px solid $dark_accent;
    border-top: 5px solid $dark_accent;
    &.red {
      left: 15.25%;
      background: hsla(330, 68%, 74%, 0.5);
      @media (min-width: $mobile-width) {
        left: 14.8%;
      }
    }
    &.orange {
      left: 28%;
      background: hsla(41, 100%, 80%, 0.5);
      @media (min-width: $mobile-width) {
        left: 27.7%;
      }
    }
    &.yellow {
      left: 41%;
      background: hsla(56, 86%, 89%, 0.5);
      @media (min-width: $mobile-width) {
        left: 40.6%;
      }
    }
    &.green {
      left: 54%;
      background: hsla(115, 38%, 77%, 0.5);
      @media (min-width: $mobile-width) {
        left: 53.7%;
      }
    }
    &.blue {
      left: 67.25%;
      background: hsla(199, 88%, 80%, 0.5);
      @media (min-width: $mobile-width) {
        left: 66.7%;
      }
    }
    &.purple {
      left: 80.25%;
      background: hsla(271, 30%, 66%, 0.5);
      @media (min-width: $mobile-width) {
        left: 79.7%;
      }
    }
  }
  .horizontal {
    @extend .vertical;
    height: 4%;
    border-top: 1px solid $dark_accent;
    border-left: 5px solid $dark_accent;
    &.red {
      top: 4%;
      left: 0;
      background: hsla(330, 68%, 74%, 0.5);
      &.second {
        top: 52%;
        @media (min-width: $mobile-width) {
          top: 51.7%;
        }
      }
    }
    &.orange {
      top: 12%;
      left: 0;
      background: hsla(41, 100%, 80%, 0.5);
      &.second {
        top: 60%;
        @media (min-width: $mobile-width) {
          top: 59.7%;
        }
      }
      @media (min-width: $mobile-width) {
        top: 11.7%;
      }
    }
    &.yellow {
      top: 20%;
      left: 0;
      background: hsla(56, 86%, 89%, 0.5);
      &.second {
        top: 68%;
        @media (min-width: $mobile-width) {
          top: 67.7%;
        }
      }
      @media (min-width: $mobile-width) {
        top: 19.7%;
      }
    }
    &.green {
      top: 28%;
      left: 0;
      background: hsla(115, 38%, 77%, 0.5);
      &.second {
        top: 76%;
        @media (min-width: $mobile-width) {
          top: 75.7%;
        }
      }
      @media (min-width: $mobile-width) {
        top: 27.6%;
      }
    }
    &.blue {
      top: 36%;
      left: 0;
      background: hsla(199, 88%, 80%, 0.5);
      &.second {
        top: 84%;
        @media (min-width: $mobile-width) {
          top: 83.6%;
        }
      }
      @media (min-width: $mobile-width) {
        top: 35.7%;
      }
    }
    &.purple {
      top: 44%;
      left: 0;
      background: hsla(271, 30%, 66%, 0.5);
      &.second {
        top: 92%;
        @media (min-width: $mobile-width) {
          top: 91.7%;
        }
      }
      @media (min-width: $mobile-width) {
        top: 43.6%;
        margin: 0 auto;
      }
    }
  }
  @media (min-width: $mobile-width) {
    margin: 9% 20% auto 20%;
    display: inline-block;
  }
}

.gear_container {
  width: 248px;
  margin: 0 auto;
  text-align: center;
  .gear {
    display: inline;
    img {
      width: 32px;
      text-align: center;
      &:active {
        animation: rotate 0.2s ease-in-out;
      }
    }
  }
  @media (min-width: $mobile-width) {
    width: 300px;
    margin: 0 auto;
    .gear {
      padding: 2%;
      img {
        width: 60px;
      }
    }
  }
}

.weave_container {
  @media (min-width: $mobile-width) {
    width: 50%;
    margin: 5% auto;
    text-align: center;
  }
}
