/* HTML ELEMENTS */
body {
  background: #E3F6F3;
  font-size: 70px;
  height: 100%;
  font-family: "Alegreya Sans", sans-serif; }

button {
  font-size: 4rem; }

main {
  min-height: 100%;
  position: relative; }

input {
  display: block;
  width: 80%;
  font-size: 3rem;
  margin: 3% auto 3% auto;
  padding: 1%; }

/* AFFIRMATIONS */
.inactive {
  display: none;
  animation: fade .8s linear; }

.active {
  display: block;
  animation: fade .8s linear; }

.meditation_nav {
  margin: 5% auto 5% auto;
  text-align: center;
  position: fixed;
  bottom: 9%;
  width: 100%;
  height: 5%; }

.meditation_advance_button {
  background: none;
  border: none;
  background-size: 100%;
  display: block;
  margin: 0 auto 40% auto;
  width: 14%;
  padding-bottom: 5%; }

.meditation_end_button {
  display: block;
  margin: 0 auto;
  text-align: center; }

.affirmation_container {
  width: 80%;
  height: 65%;
  margin: 20% auto;
  text-align: center;
  font-size: 8rem;
  padding: 5%; }

.meditation_subject {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  padding: 3%;
  margin: 4% auto;
  background: none;
  width: 70%; }

.logInButton {
  background: #99B2B8;
  border-radius: 20px;
  border: 5px solid #647375;
  width: 80%;
  padding: 2%;
  color: #E3F6F3;
  margin: 0 auto;
  margin: 30% 10%; }

/* ANIMATIONS */
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
