/* HTML ELEMENTS */
body {
  background: url("/assets/images/background.png") top left repeat;
  background-size: 30%;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  margin: 0; }

main {
  margin: 0; }

input {
  display: block;
  width: 70%;
  font-size: 1rem;
  margin: 2% auto 2% auto;
  padding: 1%;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #647375; }

button {
  margin: 0px; }

/* MEDITATION CHOICE BUTTONS */
.meditation_container {
  margin-top: 30%; }
  .meditation_container .meditation_subject {
    background: rgba(224, 245, 242, 0.5);
    border-radius: 20px;
    border: 2px solid #647375;
    width: 80%;
    padding: 2%;
    font-size: 1rem;
    color: #647375;
    margin: 3% 10% 0 10%;
    font-family: "Lato", sans-serif; }
  @media only screen and (min-width: 768px) {
    .meditation_container {
      margin-top: 9%;
      margin-bottom: 2%; } }

.fidget {
  width: 2px;
  margin: 0 auto; }
  .fidget img {
    width: 100px; }

/* NAV BAR */
nav {
  position: absolute;
  top: 0px;
  background: rgba(224, 245, 242, 0.5);
  width: 100%;
  height: 4%;
  border-bottom: 1px solid #647375;
  padding-bottom: 2%;
  text-align: right;
  z-index: 99; }
  nav ul {
    height: 1%;
    margin: 0; }
    nav ul li {
      display: inline;
      font-size: 1rem;
      margin: -1% 3% 3% 3%;
      width: 25%; }
      nav ul li a {
        text-decoration: none;
        color: #647375; }
        nav ul li a:hover {
          color: rgba(100, 113, 115, 0.5); }
  @media only screen and (max-width: 768px) {
    nav {
      position: fixed;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      padding: 0;
      text-align: right;
      background: rgba(224, 245, 242, 0.5) url("/assets/images/hamburger.svg") center center no-repeat;
      background-size: 80%;
      border-left: 2px solid #647375;
      border-bottom: 2px solid #647375; }
      nav ul {
        list-style-type: none;
        position: fixed;
        top: 0;
        right: 0; }
        nav ul li {
          display: none; }
      nav:hover {
        border-bottom: 2px solid #647375;
        width: 40px;
        height: 40px; }
        nav:hover ul {
          width: 40%;
          margin-top: 40px;
          padding: 0;
          height: 32%;
          background: #dee8e7;
          border-left: 2px solid #647375;
          border-bottom: 2px solid #647375;
          border-top: 2px solid #647375;
          animation: slideNav 0.3s linear; }
          nav:hover ul li {
            position: relative;
            text-align: center;
            width: 80%;
            margin: 10%;
            display: block;
            padding: 4%;
            font-size: 0.75rem;
            border-bottom: solid 1px #647375; }
            nav:hover ul li:last-child {
              border-bottom: none; } }

/* AFFIRMATIONS */
.inactive {
  display: none;
  animation: fade .8s linear; }

.active {
  display: block;
  animation: fade .8s linear; }

/* MEDITATION NAV */
.meditation_nav {
  margin: 5% auto 5% auto;
  text-align: center;
  position: fixed;
  bottom: 9%;
  width: 100%;
  height: 5%; }

.meditation_advance_button {
  background: none;
  border: none;
  background-size: 100%;
  display: block;
  margin: 0 auto 40% auto;
  width: 14%;
  padding-bottom: 5%; }
  @media (min-width: 768px) {
    .meditation_advance_button {
      width: 5%; } }

.meditation_end_button {
  background: rgba(224, 245, 242, 0.5);
  border-radius: 20px;
  border: 2px solid #647375;
  width: 80%;
  padding: 2%;
  font-size: 1rem;
  color: #647375;
  margin: 3% 10% 0 10%;
  font-family: "Lato", sans-serif; }

/* MEDITATION DISPLAY */
.affirmation_container {
  width: 80%;
  height: 65%;
  margin: 40% auto;
  text-align: center;
  font-size: 1rem;
  padding: 5%; }
  @media (min-width: 768px) {
    .affirmation_container {
      margin-top: 9%;
      font-size: 3rem; } }

/* HOME PAGE NAV */
.logInButton {
  background: rgba(224, 245, 242, 0.5);
  border-radius: 20px;
  border: 2px solid #647375;
  width: 80%;
  padding: 2%;
  font-size: 1rem;
  color: #647375;
  margin: 3% 10% 0 10%;
  font-family: "Lato", sans-serif;
  margin-top: 50%; }
  @media (min-width: 768px) {
    .logInButton {
      margin-top: 10%;
      width: 40%;
      margin: 20% 30% 0 30%; } }

.log_in_container {
  margin-top: 20%;
  text-align: center; }
  .log_in_container .home_logo {
    margin: 0 auto;
    width: 70%; }
  .log_in_container h1 {
    font-size: 1.75rem;
    color: #647375;
    margin-top: -15%; }
  @media (min-width: 768px) {
    .log_in_container {
      margin-top: 5%; }
      .log_in_container .home_logo {
        width: 20%; }
      .log_in_container h1 {
        font-size: 3rem;
        margin-top: -2%; } }

.home_container {
  margin: 33% auto 0 auto;
  width: 40%;
  text-align: center; }
  @media (min-width: 768px) {
    .home_container {
      margin-top: 15%; }
      .home_container .homepagebutton {
        width: 40%; }
        .home_container .homepagebutton img {
          width: 30%; } }

.homepagebutton img {
  width: 80%;
  margin: 4%; }

/* SUBMIT FORM */
form {
  margin-top: 30%;
  margin-bottom: 4%; }
  @media only screen and (min-width: 768px) {
    form {
      margin-top: 15%; } }

.fullWidthButton {
  background: rgba(224, 245, 242, 0.5);
  border-radius: 20px;
  border: 2px solid #647375;
  width: 80%;
  padding: 2%;
  font-size: 1rem;
  color: #647375;
  margin: 3% 10% 0 10%;
  font-family: "Lato", sans-serif;
  margin-top: 10%; }
  @media only screen and (min-width: 768px) {
    .fullWidthButton {
      width: 40%;
      margin: 10% 30% 0 30%; } }

.fidget_container {
  margin-top: 30%; }
  .fidget_container a {
    margin-top: 3%;
    width: 80%;
    display: block;
    text-align: center;
    text-decoration: none; }
  @media (min-width: 768px) {
    .fidget_container {
      margin-top: 15%; }
      .fidget_container a {
        width: 40%; } }

.drag_drop_stage, .weave_stage {
  height: 405px;
  padding: 0;
  width: 284px;
  background: rgba(224, 245, 242, 0.5);
  border: 2px solid #647375;
  margin: 30% auto 0 auto; }
  @media (min-width: 768px) {
    .drag_drop_stage, .weave_stage {
      margin-top: 9%;
      width: 420px;
      height: 615px;
      margin-bottom: 2%; } }

.draggable_circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
  border: solid 0.5px black; }
  @media (min-width: 768px) {
    .draggable_circle {
      height: 50px;
      width: 50px; } }

.draggable_circle_container {
  height: 32px;
  width: 32px;
  border: none;
  background: none; }
  @media (min-width: 768px) {
    .draggable_circle_container {
      height: 55px;
      width: 55px; } }

.weave_stage {
  margin-top: 22%;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden; }
  .weave_stage .vertical, .weave_stage .horizontal {
    border: 1px solid black;
    position: absolute;
    width: 26px;
    border: 1px solid #647375;
    border-top: 5px solid #647375; }
    .weave_stage .vertical.red, .weave_stage .red.horizontal {
      left: 11.25%;
      background: rgba(234, 144, 189, 0.5); }
    .weave_stage .vertical.orange, .weave_stage .orange.horizontal {
      left: 26.25%;
      background: rgba(255, 223, 153, 0.5); }
    .weave_stage .vertical.yellow, .weave_stage .yellow.horizontal {
      left: 41.25%;
      background: rgba(251, 248, 203, 0.5); }
    .weave_stage .vertical.green, .weave_stage .green.horizontal {
      left: 56.25%;
      background: rgba(178, 219, 174, 0.5); }
    .weave_stage .vertical.blue, .weave_stage .blue.horizontal {
      left: 71.25%;
      background: rgba(159, 220, 249, 0.5); }
    .weave_stage .vertical.purple, .weave_stage .purple.horizontal {
      left: 86.25%;
      background: rgba(169, 142, 194, 0.5); }
  .weave_stage .horizontal {
    height: 4%;
    border-top: 1px solid #647375;
    border-left: 5px solid #647375; }
    .weave_stage .horizontal.red {
      top: 7%;
      left: 0;
      background: rgba(234, 144, 189, 0.5); }
      .weave_stage .horizontal.red.second {
        top: 55%; }
    .weave_stage .horizontal.orange {
      top: 15%;
      left: 0;
      background: rgba(255, 223, 153, 0.5); }
      .weave_stage .horizontal.orange.second {
        top: 63%; }
    .weave_stage .horizontal.yellow {
      top: 23%;
      left: 0;
      background: rgba(251, 248, 203, 0.5); }
      .weave_stage .horizontal.yellow.second {
        top: 71%; }
    .weave_stage .horizontal.green {
      top: 31%;
      left: 0;
      background: rgba(178, 219, 174, 0.5); }
      .weave_stage .horizontal.green.second {
        top: 78%; }
    .weave_stage .horizontal.blue {
      top: 39%;
      left: 0;
      background: rgba(159, 220, 249, 0.5); }
      .weave_stage .horizontal.blue.second {
        top: 86%; }
    .weave_stage .horizontal.purple {
      top: 47%;
      left: 0;
      background: rgba(169, 142, 194, 0.5); }
      .weave_stage .horizontal.purple.second {
        top: 94%; }

.gear_container {
  width: 248px;
  margin: 0 auto;
  text-align: center; }
  .gear_container .gear {
    display: inline; }
    .gear_container .gear img {
      width: 60px;
      text-align: center; }
      .gear_container .gear img:active {
        animation: rotate 0.2s ease-in-out; }

/* ANIMATIONS */
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideNav {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideDown {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes rotate {
  100% {
    transform: rotate(180deg); } }
