body {
  color: magenta;
  font-size: 70px;}

button {
  font-size: 40px;
}

.inactive {
  display: none;
}

.active {
  display: block;
  animation: fade .8s linear;
  animation-iteration-count: 1;
}

.last {
  display: none;
}


@keyframes fade {
  0% { opacity: 0;
          }
  100% { opacity: 1;
  }
}
