.meditation_nav {
  margin: 5% auto 5% auto;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.meditation_advance_button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.meditation_end_button {
  display: block;
  margin: 0 auto;
  text-align: center;
}
