.meditation_container {
  margin-top: 30%;
  .meditation_subject {
    appearance: none;
    background: $main_color;
    border-radius: 20px;
    border: 2px solid $dark_accent;
    width: 80%;
    padding: 2%;
    font-size: 1rem;
    color: $dark_accent;
    margin: 3% 10% 0 10%;
    font-family: $header_font;
  }
  @media only screen and (min-width: $mobile-width) {
    margin-top: 15%;
  }
}
