/* NAV BAR */
nav {
  position: absolute;
  top: 0px;
  background: $main_color;
  width: 100%;
  height: 5%;
  border-bottom: 3px solid $dark_accent;
  padding-bottom: 5%;
  text-align: right;
  ul {
    li {
      display: inline;
      font-size: 1rem;
      margin: 3%;
      width: 25%;
      a {
        text-decoration: none;
        color: $dark_accent;
      }
    }
  }
  @media only screen and (max-width: $mobile-width) {
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: right;
    background: $main_color url('/assets/images/hamburger.svg') center center no-repeat;
    background-size: 80%;
    border-left: 2px solid $dark_accent;
    border-bottom: 2px solid $dark_accent;
    ul {
      list-style-type: none;
      position: fixed;
      top: 0;
      right: 0;
      li {
        display: none;
      }
    }
    &:hover {
      border-bottom: none;
      width: 40%;
      height: 40px;
      background: $main_color_solid;
      ul {
        width: 40%;
        margin-top: 40px;
        padding: 0;
        background: $main_color_solid;
        border-left: 2px solid $dark_accent;
        border-bottom: 2px solid $dark_accent;
        li {
          position: relative;
          text-align: center;
          width: 80%;
          margin: 10%;
          display: block;
          padding: 4%;
          font-size: 0.75rem;
          border-bottom: solid 1px $dark_accent;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
