.nav {
  position: fixed;
  top: 0px;
  background: $main_color;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid $dark_accent;
  li {
    display: inline;
    font-size: 2rem;
    margin: 3%;
    width: 25%;
    a {
      text-decoration: none;
      color: $dark_accent;
    }
  }
}
