<form>
  <label for="subject"></label>
  <input type="text" id="subject" name="subject" placeholder="Meditation Subject" ng-model="mc.newMeditation.subject" required />
  <label for="affirmation1"></label>
  <input type="text" id="affirmation1" name="affirmation1" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation1" required />
  <label for="affirmation2"></label>
  <input type="text" id="affirmation2" name="affirmation2" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation2" required />
  <label for="affirmation3"></label>
  <input type="text" id="affirmation3" name="affirmation3" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation3" required />
  <label for="affirmation4"></label>
  <input type="text" id="affirmation4" name="affirmation4" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation4" required />
  <label for="affirmation5"></label>
  <input type="text" id="affirmation5" name="affirmation5" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation5" required />
  <label for="affirmation6"></label>
  <input type="text" id="affirmation6" name="affirmation6" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation6" required />
  <label for="affirmation7"></label>
  <input type="text" id="affirmation7" name="affirmation7" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation7" required />
  <label for="affirmation8"></label>
  <input type="text" id="affirmation8" name="affirmation8" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation8" required />
  <label for="affirmation9"></label>
  <input type="text" id="affirmation9" name="affirmation9" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation9" required />
  <label for="affirmation10"></label>
  <input type="text" id="affirmation10" name="affirmation10" placeholder="Enter an Affirmation" ng-model="mc.newMeditation.affirmation10" required />
  <button class="fullWidthButton" ng-click="mc.addMeditation()">Submit Meditation</button>
</form>
