<div ng-include="'views/templates/nav.html'"></div>
<div class="circle_stage" ng-show="ddc.swappingDots">
  <ul>
    <li ng-repeat="item in ddc.sortableList track by $index" class="circle_list">
      <div class="sortable_circle" ng-style="{'background-color': item.color}" ng-class="{'selected': $index === ddc.tempIndexForSwap}" ng-click="ddc.swapDot(item, $index)">
      </div>
    </li>
  </ul>
</div>
<div class="circle_stage" ng-show="ddc.fillingDots">
  <ul>
    <li ng-repeat="item in ddc.sortableList track by $index" class="circle_list">
      <div class="sortable_circle" ng-style="{'background-color': item.color}" ng-class="{'selected': $index === ddc.tempIndexForSwap}" ng-click="ddc.fillDot(item, $index)">
      </div>
    </li>
  </ul>
</div>
<div class="dot_fidget_button_container">
  <p>Themes</p>
  <img src="/assets/images/rainbow.svg" alt="switch to rainbow theme" ng-click="ddc.switchToRainbowTheme()" class="dot_fidget_button" />
  <img src="/assets/images/lightrainbow.svg" alt="switch to light theme" ng-click="ddc.switchToLightRainbowTheme()" class="dot_fidget_button" />
  <img src="/assets/images/grayscale.svg" alt="switch to gray theme" ng-click="ddc.switchToGrayscaleTheme()" class="dot_fidget_button" />
  <p>Controls</p>
  <img src="/assets/images/shuffle.svg" alt="shuffle" ng-click="ddc.shuffleDots()" class="dot_fidget_button" />
  <img src="/assets/images/clear.svg" ng-click="ddc.clearFillData()" ng-show="ddc.fillingDots" class="dot_fidget_button" />
  <img src="/assets/images/fill.svg" ng-click="ddc.switchToFill()" ng-show="ddc.swappingDots" class="dot_fidget_button" />
  <img src="/assets/images/swap.svg" ng-click="ddc.switchToSort()" ng-show="ddc.fillingDots" class="dot_fidget_button" />
</div>
