<div ng-include="'views/templates/nav.html'"></div>
<div class="drag_drop_stage" ng-show="ddc.swappingDots">
  <ul>
    <li ng-repeat="item in ddc.sortableList track by $index" class="circle_list">
      <div class="draggable_circle" ng-style="{'background-color': item.color}" ng-click="ddc.swapDot(item, $index)">
      </div>
    </li>
  </ul>
</div>
<div class="drag_drop_stage" ng-show="ddc.fillingDots">
  <ul>
    <li ng-repeat="item in ddc.sortableList track by $index" class="circle_list">
      <div class="draggable_circle" ng-style="{'background-color': item.color}" ng-click="ddc.fillDot(item, $index)">
      </div>
    </li>
  </ul>
</div>
<button ng-click="ddc.shuffleDots()">Shuffle</button>
<button ng-click="ddc.switchToRainbowTheme()">Rainbow Theme</button>
<button ng-click="ddc.switchToLightRainbowTheme()">Light Theme</button>
<button ng-click="ddc.switchToGrayscaleTheme()">Gray Theme</button>
<button ng-click="ddc.clearFillData()" ng-show="ddc.fillingDots">Pick a New Color</button>
<button ng-click="ddc.switchToFill()" ng-show="ddc.swappingDots">Switch to Fill</button>
<button ng-click="ddc.switchToSort()" ng-show="ddc.fillingDots">Switch to Sort</button>
