<div ng-include="'views/templates/nav.html'"></div>
<div class="drawing_container">
  <canvas id="drawing_stage" class="drawing_stage" height="280" width="288"></canvas>
  <div id="draw_button_container">
    <button class="color_button" ng-click="dc.changeColorOne()" ng-style="{'background': dc.colorOne}"> </button>
    <button class="color_button" ng-click="dc.changeColorTwo()" ng-style="{'background': dc.colorTwo}"> </button>
    <button class="color_button" ng-click="dc.changeColorThree()" ng-style="{'background': dc.colorThree}"> </button>
    <button class="color_button" ng-click="dc.changeColorFour()" ng-style="{'background': dc.colorFour}"> </button>
    <button class="color_button" ng-click="dc.changeColorFive()" ng-style="{'background': dc.colorFive}"> </button>
    <button class="color_button" ng-click="dc.changeColorSix()" ng-style="{'background': dc.colorSix}"> </button>
    <button class="color_button" ng-click="dc.startAnimation()">></button>
    <button class="color_button" ng-click="dc.stopAnimation()">||</button>
  </div>
</div>
