<div ng-include="'views/templates/nav.html'"></div>
<canvas id="drawing_stage" class="drawing_stage" height="280" width="288"></canvas>
<button ng-click="dc.changeColorOne()" ng-style="{'background': dc.colorOne}"> </button>
<button ng-click="dc.changeColorTwo()" ng-style="{'background': dc.colorTwo}"> </button>
<button ng-click="dc.changeColorThree()" ng-style="{'background': dc.colorThree}"> </button>
<button ng-click="dc.changeColorFour()" ng-style="{'background': dc.colorFour}"> </button>
<button ng-click="dc.changeColorFive()" ng-style="{'background': dc.colorFive}"> </button>
<button ng-click="dc.changeColorSix()" ng-style="{'background': dc.colorSix}"> </button>
<button ng-click="dc.startAnimation()">Start Animation</button>
<button ng-click="dc.stopAnimation()">Stop Animation</button>
