<div ng-show="hc.loggedIn" class="home_container">
  <a class="homepagebutton" href="#meditation"><img src="/assets/images/meditationbutton.svg" alt="meditation"/></a>
  <a class="homepagebutton" href="#createmeditation"><img src="/assets/images/addmeditationbutton.svg" alt="add meditation"/></a>
  <a class="homepagebutton" href="#fidgets"><img src="/assets/images/dragdotbutton.svg" alt="fidgets"/></a>
  </div>
<button ng-hide="hc.loggedIn" ng-click="hc.signIn()" class="logInButton">Log In</button>
