<button ng-hide="mc.meditationMode" ng-repeat="meditation in mc.meditations" ng-click="mc.startMeditation(meditation)" class="meditation_subject">{{meditation.subject}}</button>

<div class="affirmation_container" ng-show="mc.meditationMode">
  <p class="inactive" ng-class="{active: mc.currentAffirmation == $index}" ng-repeat="affirmation in mc.currentMeditation track by $index">{{affirmation}}</p>
</div>

<div id="meditationNav" class="meditation_nav" ng-show="mc.meditationMode">
  <button class="meditation_advance_button" ng-hide="mc.meditationOver" ng-click="mc.advanceMeditation()"><img src="/assets/images/meditationButtonNav.svg" /></button>
  <button ng-show="mc.meditationOver" class="meditation_end_button" ng-click="mc.endMeditation()">Choose a New Meditation</button>
</div>
