<div ng-include="'views/templates/nav.html'"></div>
<div class="weave_stage">
  <div class="red vertical"></div>
  <div class="orange vertical"></div>
  <div class="yellow vertical"></div>
  <div class="green vertical"></div>
  <div class="blue vertical"></div>
  <div class="purple vertical"></div>
  <div class="red horizontal"></div>
  <div class="orange horizontal"></div>
  <div class="yellow horizontal"></div>
  <div class="green horizontal"></div>
  <div class="blue horizontal"></div>
  <div class="purple horizontal"></div>
  <div class="red second horizontal"></div>
  <div class="orange second horizontal"></div>
  <div class="yellow second horizontal"></div>
  <div class="green second horizontal"></div>
  <div class="blue second horizontal"></div>
  <div class="purple second horizontal"></div>
</div>
<div class="gear_container">
  <div class="gear"><img src="/assets/images/gearred.svg" ng-click="growRed()" /></div>
  <div class="gear"><img src="/assets/images/gearorange.svg" ng-click="growOrange()" /></div>
  <div class="gear"><img src="/assets/images/gearyellow.svg" ng-click="growYellow()" /></div>
  <div class="gear"><img src="/assets/images/geargreen.svg" ng-click="growGreen()" /></div>
  <div class="gear"><img src="/assets/images/gearblue.svg" ng-click="growBlue()" /></div>
  <div class="gear"><img src="/assets/images/gearpurple.svg" ng-click="growPurple()" /></div>
</div>
