<div ng-include="'views/templates/nav.html'"></div>
<div class="weave_stage">
  <div ng-style="{'height': wc.red.height + '%'}" class="red vertical"></div>
  <div ng-style="{'height': wc.orange.height + '%'}" class="orange vertical"></div>
  <div ng-style="{'height': wc.yellow.height + '%'}" class="yellow vertical"></div>
  <div ng-style="{'height': wc.green.height + '%'}" class="green vertical"></div>
  <div ng-style="{'height': wc.blue.height + '%'}" class="blue vertical"></div>
  <div ng-style="{'height': wc.purple.height + '%'}" class="purple vertical"></div>
  <div ng-style="{'width': wc.red.width + '%'}" class="red horizontal"></div>
  <div ng-style="{'width': wc.orange.width + '%'}" class="orange horizontal"></div>
  <div ng-style="{'width': wc.yellow.width + '%'}" class="yellow horizontal"></div>
  <div ng-style="{'width': wc.green.width + '%'}" class="green horizontal"></div>
  <div ng-style="{'width': wc.blue.width + '%'}" class="blue horizontal"></div>
  <div ng-style="{'width': wc.purple.width + '%'}" class="purple horizontal"></div>
  <div ng-style="{'width': wc.red.width + '%'}" class="red second horizontal"></div>
  <div ng-style="{'width': wc.orange.width + '%'}" class="orange second horizontal"></div>
  <div ng-style="{'width': wc.yellow.width + '%'}" class="yellow second horizontal"></div>
  <div ng-style="{'width': wc.green.width + '%'}" class="green second horizontal"></div>
  <div ng-style="{'width': wc.blue.width + '%'}" class="blue second horizontal"></div>
  <div ng-style="{'width': wc.purple.width + '%'}" class="purple second horizontal"></div>
</div>
<div class="gear_container">
  <div class="gear"><img src="/assets/images/gearred.svg" ng-click="wc.growRed()" /></div>
  <div class="gear"><img src="/assets/images/gearorange.svg" ng-click="wc.growOrange()" /></div>
  <div class="gear"><img src="/assets/images/gearyellow.svg" ng-click="wc.growYellow()" /></div>
  <div class="gear"><img src="/assets/images/geargreen.svg" ng-click="wc.growGreen()" /></div>
  <div class="gear"><img src="/assets/images/gearblue.svg" ng-click="wc.growBlue()" /></div>
  <div class="gear"><img src="/assets/images/gearpurple.svg" ng-click="wc.growPurple()" /></div>
</div>
